:root{
    --cor-de-fundo:#050b05fd;
    --azul :#317dc4;
    --branco:#ffffff;
    --botao-ativo: #084232;
    --boato-inativo:#031e28;
    --texto-fundo:#ffffff;
    --fonte: 'cascadia code';
}
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');
